In [1]:
import pandas as pd
import numpy as np

raw_data = {
    'Date': ['2023-01-15', '2023/02/12', '15-03-2023', '2023-04-20', '2023-05-05'],
    'Product_Name': ['  PRO-Gaming Laptop  ', 'wireless mouse', 'Mechanical KEYBOARD', 'Gaming monitor', '  PRO-Gaming Laptop  '],
    'Revenue': ['$1,500.00', '$25.50', '$120.00', 'Invalid', '$1,500.00'],
    'Quantity': [1, 10, np.nan, 2, 1]
}
df = pd.DataFrame(raw_data)


df['Revenue'] = df['Revenue'].str.replace(r'[$,]', '', regex=True)
df['Revenue'] = pd.to_numeric(df['Revenue'], errors='coerce')

df['Date'] = pd.to_datetime(df['Date'], format='mixed', dayfirst=True)

df['Product_Name'] = df['Product_Name'].str.strip().str.title()

median_qty = df['Quantity'].median()
df['Quantity'] = df['Quantity'].fillna(median_qty)

print(df)
print("\nTypes:")
print(df.dtypes)

        Date         Product_Name  Revenue  Quantity
0 2023-01-15    Pro-Gaming Laptop   1500.0       1.0
1 2023-02-12       Wireless Mouse     25.5      10.0
2 2023-03-15  Mechanical Keyboard    120.0       1.5
3 2023-04-20       Gaming Monitor      NaN       2.0
4 2023-05-05    Pro-Gaming Laptop   1500.0       1.0

Types:
Date            datetime64[ns]
Product_Name            object
Revenue                float64
Quantity               float64
dtype: object

In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Department': ['HR', 'IT', 'IT', 'Sales', 'Sales', 'IT', 'Marketing'],
    'Salary': [60000, 85000, 92000, 45000, 88000, 72000, 105000],
    'Years_Experience': [5, 8, 12, 1, 10, 3, 15],
    'Performance_Rating': [4.2, 3.8, 4.5, 3.0, 4.9, 4.0, 4.8]
}
df = pd.DataFrame(data)

top_performers = df[(df['Performance_Rating'] > 4.0) & (df['Years_Experience'] >= 5)]

print("--- Task 1: High Performers ---")
print(top_performers)

it_team = df.loc[df['Department'] == 'IT', ['Name', 'Salary']]

print("\n--- Task 2: IT Team Budget ---")
print(it_team)

highest_paid = df[df['Salary'] == df['Salary'].max()]

result = highest_paid[['Name', 'Department']]

print("\n--- Task 3: Highest Paid Employee ---")
print(result)

--- Task 1: High Performers ---
      Name Department  Salary  Years_Experience  Performance_Rating
0    Alice         HR   60000                 5                 4.2
2  Charlie         IT   92000                12                 4.5
4      Eva      Sales   88000                10                 4.9
6    Grace  Marketing  105000                15                 4.8

--- Task 2: IT Team Budget ---
      Name  Salary
1      Bob   85000
2  Charlie   92000
5    Frank   72000

--- Task 3: Highest Paid Employee ---
    Name Department
6  Grace  Marketing

In [3]:
import pandas as pd
import numpy as np

data = {
    'Student': ['Emma', 'Liam', 'Olivia', 'Noah', 'Ava'],
    'Exam_1': [85, 55, 90, 70, 40],
    'Exam_2': [90, 60, 95, 75, 50],
    'Participation': [10, 5, 10, 8, 2] 
}
df = pd.DataFrame(data)

df['Final_Score'] = (df['Exam_1'] * 0.4) + (df['Exam_2'] * 0.6) + df['Participation']

df['Status'] = np.where(df['Final_Score'] >= 60, 'Pass', 'Fail')

def get_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    else:
        return 'C'

df['Grade'] = df['Final_Score'].apply(get_grade)

print(df)

  Student  Exam_1  Exam_2  Participation  Final_Score Status Grade
0    Emma      85      90             10         98.0   Pass     A
1    Liam      55      60              5         63.0   Pass     C
2  Olivia      90      95             10        103.0   Pass     A
3    Noah      70      75              8         81.0   Pass     B
4     Ava      40      50              2         48.0   Fail     C

In [4]:
import pandas as pd

data = {
    'Region': ['North', 'South', 'North', 'East', 'South', 'North', 'East'],
    'Product': ['Widget', 'Widget', 'Gadget', 'Widget', 'Gadget', 'Widget', 'Gadget'],
    'Sales': [1000, 1500, 2000, 500, 3000, 1200, 800],
    'Quantity': [5, 10, 8, 2, 15, 6, 4]
}
df = pd.DataFrame(data)

region_sales = df.groupby('Region')['Sales'].sum()

print("--- Task 1: Total Sales by Region ---")
print(region_sales)

product_avg = df.groupby('Product')['Sales'].mean()

print("\n--- Task 2: Average Revenue per Product Transaction ---")
print(product_avg)

executive_report = df.groupby('Region')['Sales'].agg(['sum', 'count'])

executive_report = executive_report.rename(columns={'sum': 'Total Revenue', 'count': 'Transaction Count'})

print("\n--- Task 3: Executive Summary ---")
print(executive_report)

--- Task 1: Total Sales by Region ---
Region
East     1300
North    4200
South    4500
Name: Sales, dtype: int64

--- Task 2: Average Revenue per Product Transaction ---
Product
Gadget    1933.333333
Widget    1050.000000
Name: Sales, dtype: float64

--- Task 3: Executive Summary ---
        Total Revenue  Transaction Count
Region
East             1300                  2
North            4200                  3
South            4500                  2

In [5]:
import pandas as pd

users = pd.DataFrame({
    'User_ID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

orders = pd.DataFrame({
    'Order_ID': [1, 2, 3, 4],
    'User_ID': [103, 101, 103, 101], 
    'Amount': [250, 500, 100, 300]
})

all_data = pd.merge(users, orders, on='User_ID', how='left')

print("--- Task 1: Merged Data ---")
print(all_data)

spending = all_data.groupby('Name')['Amount'].sum()

print("\n--- Task 2: Total Spending per User ---")
print(spending)

ghost_users = all_data[all_data['Order_ID'].isna()]

print("\n--- Task 3: Users with Zero Orders ---")
print(ghost_users[['Name']])

--- Task 1: Merged Data ---
   User_ID     Name  Order_ID  Amount
0      101    Alice       2.0   500.0
1      101    Alice       4.0   300.0
2      102      Bob       NaN     NaN
3      103  Charlie       1.0   250.0
4      103  Charlie       3.0   100.0
5      104    David       NaN     NaN

--- Task 2: Total Spending per User ---
Name
Alice      800.0
Bob          0.0
Charlie    350.0
David        0.0
Name: Amount, dtype: float64

--- Task 3: Users with Zero Orders ---
    Name
2    Bob
5  David

In [6]:
import pandas as pd

data = {
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Day_1': [20, 25, 15],
    'Day_2': [22, 26, 14],
    'Day_3': [19, 24, 16]
}
df_wide = pd.DataFrame(data)

df_long = df_wide.melt(id_vars=['City'], var_name='Day', value_name='Temperature')

print("--- Task 1: Melted (Long) Data ---")
print(df_long)

df_pivoted = df_long.pivot(index='City', columns='Day', values='Temperature')

df_pivoted = df_pivoted.reset_index()

print("\n--- Task 2: Pivoted (Wide) Data ---")
print(df_pivoted)

--- Task 1: Melted (Long) Data ---
          City    Day  Temperature
0     New York  Day_1           20
1  Los Angeles  Day_1           25
2      Chicago  Day_1           15
3     New York  Day_2           22
4  Los Angeles  Day_2           26
5      Chicago  Day_2           14
6     New York  Day_3           19
7  Los Angeles  Day_3           24
8      Chicago  Day_3           16

--- Task 2: Pivoted (Wide) Data ---
Day         City  Day_1  Day_2  Day_3
0        Chicago     15     14     16
1    Los Angeles     25     26     24
2       New York     20     22     19

In [7]:
import pandas as pd
import numpy as np

dates = pd.date_range(start='2023-01-01', periods=20, freq='D')
data = {
    'Price': [100, 102, 104, 103, 105, 107, 108, 106, 110, 115, 
              114, 116, 118, 119, 120, 122, 118, 115, 112, 110]
}
df = pd.DataFrame(data, index=dates)

weekly_df = df.resample('W').mean()

print("--- Task 1: Weekly Averages ---")
print(weekly_df)

df['Rolling_Avg'] = df['Price'].rolling(window=3).mean()

df['Daily_Return'] = df['Price'] - df['Price'].shift(1)

print("\n--- Task 2 & 3: Rolling & Shifting ---")
print(df)

--- Task 1: Weekly Averages ---
            Price
2023-01-01  100.0
2023-01-08  105.0
2023-01-15  116.0
2023-01-22  115.4

--- Task 2 & 3: Rolling & Shifting ---
            Price  Rolling_Avg  Daily_Return
2023-01-01    100          NaN           NaN
2023-01-02    102          NaN           2.0
2023-01-03    104   102.000000           2.0
2023-01-04    103   103.000000          -1.0
2023-01-05    105   104.000000           2.0
2023-01-06    107   105.000000           2.0
2023-01-07    108   106.666667           1.0
2023-01-08    106   107.000000          -2.0
2023-01-09    110   108.000000           4.0
2023-01-10    115   110.333333           5.0
2023-01-11    114   113.000000          -1.0
2023-01-12    116   115.000000           2.0
2023-01-13    118   116.000000           2.0
2023-01-14    119   117.666667           1.0
2023-01-15    120   119.000000           1.0
2023-01-16    122   120.333333           2.0
2023-01-17    118   120.000000          -4.0
2023-01-18    115   118.333333          -3.0
2023-01-19    112   115.000000          -3.0
2023-01-20    110   112.333333          -2.0